body {
  margin: 0;
  background: #272727;
  color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #FFF;
}

strong {
  color: #91CB00;
}

.font-size-title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
}

.layout {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 85%;
  height: 135px;
  position: fixed;
  margin-bottom: 15px;
  background-color: #1A1A1A;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -4px 25px 34px -9px rgba(0,0,0,0.41); 
  box-shadow: -4px 25px 34px -9px rgba(0,0,0,0.41);
}

.header .logo {
  flex-grow: 2;
}

.logo {
  height: 75px;
  width: 150px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.header nav {
  flex-grow: 1;
}

.header nav ul {
  height: 135px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header li {
  margin-left: 15px;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
}

.header li a {
  text-decoration: none;
  transition: all 300ms;
}

.header a:hover {
  color: #91CB00;
}

.activated {
  color: #91CB00;
}

/* HERO */
.container {
  width: 100%;
  height: auto;
}

.container-banner {
  width: 100%;
  height: 500px;
}

.container-banner img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.container-title {
  text-align: center;
}

.welcome-title {
  font-size: 40px;
  color: #91CB00;
}

.container-cards {
  width: 100%;
  margin-top: -120px;
  height: auto;
  display: flex;
  justify-content: center;
}
.card {
  width: 80%;
  height: auto;
  border-radius: 10px;
  background-color: #1A1A1A;
  display: flex;


}

.container-img-victor {
  width: 50%;
  height: 100%;
}

.card img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: 100%;
}

.about-me {
  width: 50%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.about-me-subtitle, .about-me-subtitle strong {
  letter-spacing: 5px;
}

.info-victor {
  padding-right: 15px;
  padding-left: 15px;
}

#my-stack {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-stack {
  width: 70%;
  height: auto;
  background-color: rgba(26,26,26,.6);
  border-radius: 10px;
  padding: 30px;
}

.container-stack h2 {
  color: #91CB00;
}

.container-stack-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.front-end, .back-end {
  width: 50%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(26,26,26,.6);
}

.stack-logo {
  width: 70px;
  height: 70px;
  margin: 10px;
}

.stack-logo img {
  width: 100%;
  height: 100%;
}

#projects {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  width: 40%;
  height: auto;
  margin: 20px;
  background-color: #1A1A1A;
  border-radius: 10px;
  
}

.container-img-project {
  width: 100%;
  height: 50%;

}

.container-img-project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.info-project .container-title {
  font-size: 30px;
}

.info-project .description {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #91CB00;
  border: none;
  font-size: 20px;
  font-weight: bold;
  transition: all linear 150ms;
}

.btn:hover {
  background-color: #272727;
  color: #91CB00;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}


.footer {
  height: 100px;
  margin: 0;
  width: 100%;
  border-top: 10px solid #91CB00 ;
}

.footer-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-container .description {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.footer-container .social-networks {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.footer-container .social-networks svg {
  transition: all 300ms;
}

.footer-container .social-networks svg:hover {
  color: #91CB00;
  cursor: pointer;
}
